<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunlong.samples">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 增量更新 -->
        <activity
            android:name=".incremental.IncrementalUpdateActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.IncrementalUpdate" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 意图页面 -->
        <activity
            android:name=".intent.IntentMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.IntentMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.IntentLoginActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.IntentLogin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.IntentWithBundleActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.IntentWithBundle" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.IntentWithoutBundleActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.IntentWithoutBundle" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 服务相关 -->
        <activity
            android:name=".service.ServiceMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.ServiceMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.local.LocalServiceMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.LocalServiceMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.local.LocalServiceSecondActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.LocalServiceSecond" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.RemoteServiceMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.RemoteServiceMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.local.LocalService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>