<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunlong.samples">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.yunlong.lib.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--设计模式-->
        <activity
            android:name=".design.main.DesignPatternMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.design.pattern.Main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".design.main.activity.LoadFileFromAssetsActivity" />
        <activity
            android:name=".design.singleton.SingletonMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.design.pattern.singleton.Main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design.singleton.SingletonImplListActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.design.pattern.singleton.SingletonImplList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 增量更新 -->
        <activity
            android:name=".incremental.IncrementalUpdateActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.IncrementalUpdate" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 意图页面 -->
        <activity
            android:name=".intent.IntentMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.IntentMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.IntentLoginActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.IntentLogin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.IntentWithBundleActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.IntentWithBundle" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.IntentWithoutBundleActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.IntentWithoutBundle" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 服务相关 -->
        <activity
            android:name=".service.ServiceMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.ServiceMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.local.LocalServiceMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.LocalServiceMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.local.LocalServiceSecondActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.LocalServiceSecond" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.remote.RemoteServiceMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.RemoteServiceMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".receiver.ReceiverMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.ReceiverMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--自定义-->
        <activity
            android:name=".custom.CustomMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.custom.Main" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".custom.menu.LRMenuMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.custom.LRMenuMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".custom.trebling.TreblingViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.yunlong.samples.custom.TreblingView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".custom.wave.WaveViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.yunlong.samples.custom.WaveView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--系统功能相关-->
        <activity
            android:name=".systemfunction.SystemFunctionMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.SystemFunctionMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systemfunction.multitouch.MultitouchActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.Multitouch" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systemfunction.sensor.SensorMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.SensorMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systemfunction.sensor.info.SensorInfoActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.SensorInfo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systemfunction.sensor.MotionSensorActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.MotionSensor" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systemfunction.nfc.NFCMainActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.NFCMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systemfunction.bluetooth.BluetoothMainActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.BluetoothMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systemfunction.wifip2p.WiFiP2PMainActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.WiFiP2PMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systemfunction.gps.GPSMainActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.GPSMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systemfunction.gps.GPSLocationProviderActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.GPSLocationProvider" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systemfunction.gps.GPSLocationInfoActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.GPSLocationInfo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--照相机相关-->
        <activity
            android:name=".systemfunction.camera.CameraMainActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.CameraMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systemfunction.camera.CameraNormalActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.CameraNormal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".systemfunction.camera.CameraCustomActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.CameraCustom" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--音频录制-->
        <activity
            android:name=".systemfunction.media.MediaPlayerActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.MediaPlayer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--TTS，TextToSpeech-->
        <activity
            android:name=".systemfunction.tts.TTSActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.TTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--TTS，TextToSpeech-->
        <activity
            android:name=".systemfunction.ringtone.RingtoneManagerActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.system.function.RingtoneManager" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--Animation-->
        <activity
            android:name=".animation.AnimationMainActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.AnimationMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.tween.TweenAnimationMainActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.yunlong.samples.animation.TweenAnimationMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.tween.TweenAnimationAllActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.yunlong.samples.animation.TweenAnimationAll" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.drawable.DrawableAnimationActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.yunlong.samples.animation.DrawableAnimation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.property.PropertyAnimatorAllActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.yunlong.samples.animation.PropertyAnimator" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.md.MDActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.yunlong.samples.animation.MD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".request.RequestMainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.yunlong.samples.request.RequestMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".request.ok.OkHttpActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.yunlong.samples.request.OKHttp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.TestMainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.yunlong.samples.TestMain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.TestAActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.yunlong.samples.TestA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.TestBActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.yunlong.samples.TestB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.local.LocalService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.yunlong.samples.service.remote.RemoteService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>